@{
    if (User.IsInRole("Manager"))
    {
        ViewData["Title"] = "Home Page";
        Layout = "_Layout - loggedManager";
    }
    else if (User.IsInRole("Admin"))
    {
        ViewData["Title"] = "Home Page";
        Layout = "_Layout - loggedAdmin";
    }
    else if (User.IsInRole("User"))
    {
        ViewData["Title"] = "Home Page";
        Layout = "_Layout - logged";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
